/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-left-name: 's-bg_left';
$s-bg-left-x: 0px;
$s-bg-left-y: 0px;
$s-bg-left-offset-x: 0px;
$s-bg-left-offset-y: 0px;
$s-bg-left-width: 345px;
$s-bg-left-height: 266px;
$s-bg-left-total-width: 710px;
$s-bg-left-total-height: 520px;
$s-bg-left-image: '../img/sprite.png';
$s-bg-left: (0px, 0px, 0px, 0px, 345px, 266px, 710px, 520px, '../img/sprite.png', 's-bg_left', );
$s-bg-right-name: 's-bg_right';
$s-bg-right-x: 365px;
$s-bg-right-y: 0px;
$s-bg-right-offset-x: -365px;
$s-bg-right-offset-y: 0px;
$s-bg-right-width: 345px;
$s-bg-right-height: 266px;
$s-bg-right-total-width: 710px;
$s-bg-right-total-height: 520px;
$s-bg-right-image: '../img/sprite.png';
$s-bg-right: (365px, 0px, -365px, 0px, 345px, 266px, 710px, 520px, '../img/sprite.png', 's-bg_right', );
$s-facebook-name: 's-facebook';
$s-facebook-x: 354px;
$s-facebook-y: 397px;
$s-facebook-offset-x: -354px;
$s-facebook-offset-y: -397px;
$s-facebook-width: 11px;
$s-facebook-height: 22px;
$s-facebook-total-width: 710px;
$s-facebook-total-height: 520px;
$s-facebook-image: '../img/sprite.png';
$s-facebook: (354px, 397px, -354px, -397px, 11px, 22px, 710px, 520px, '../img/sprite.png', 's-facebook', );
$s-ico-play-name: 's-ico_play';
$s-ico-play-x: 354px;
$s-ico-play-y: 317px;
$s-ico-play-offset-x: -354px;
$s-ico-play-offset-y: -317px;
$s-ico-play-width: 60px;
$s-ico-play-height: 60px;
$s-ico-play-total-width: 710px;
$s-ico-play-total-height: 520px;
$s-ico-play-image: '../img/sprite.png';
$s-ico-play: (354px, 317px, -354px, -317px, 60px, 60px, 710px, 520px, '../img/sprite.png', 's-ico_play', );
$s-instagram-name: 's-instagram';
$s-instagram-x: 434px;
$s-instagram-y: 348px;
$s-instagram-offset-x: -434px;
$s-instagram-offset-y: -348px;
$s-instagram-width: 22px;
$s-instagram-height: 22px;
$s-instagram-total-width: 710px;
$s-instagram-total-height: 520px;
$s-instagram-image: '../img/sprite.png';
$s-instagram: (434px, 348px, -434px, -348px, 22px, 22px, 710px, 520px, '../img/sprite.png', 's-instagram', );
$s-line-name: 's-line';
$s-line-x: 354px;
$s-line-y: 286px;
$s-line-offset-x: -354px;
$s-line-offset-y: -286px;
$s-line-width: 290px;
$s-line-height: 11px;
$s-line-total-width: 710px;
$s-line-total-height: 520px;
$s-line-image: '../img/sprite.png';
$s-line: (354px, 286px, -354px, -286px, 290px, 11px, 710px, 520px, '../img/sprite.png', 's-line', );
$s-line-2-name: 's-line_2';
$s-line-2-x: 434px;
$s-line-2-y: 317px;
$s-line-2-offset-x: -434px;
$s-line-2-offset-y: -317px;
$s-line-2-width: 150px;
$s-line-2-height: 11px;
$s-line-2-total-width: 710px;
$s-line-2-total-height: 520px;
$s-line-2-image: '../img/sprite.png';
$s-line-2: (434px, 317px, -434px, -317px, 150px, 11px, 710px, 520px, '../img/sprite.png', 's-line_2', );
$s-phone-name: 's-phone';
$s-phone-x: 0px;
$s-phone-y: 480px;
$s-phone-offset-x: 0px;
$s-phone-offset-y: -480px;
$s-phone-width: 40px;
$s-phone-height: 40px;
$s-phone-total-width: 710px;
$s-phone-total-height: 520px;
$s-phone-image: '../img/sprite.png';
$s-phone: (0px, 480px, 0px, -480px, 40px, 40px, 710px, 520px, '../img/sprite.png', 's-phone', );
$s-phone-hover-name: 's-phone_hover';
$s-phone-hover-x: 60px;
$s-phone-hover-y: 480px;
$s-phone-hover-offset-x: -60px;
$s-phone-hover-offset-y: -480px;
$s-phone-hover-width: 40px;
$s-phone-hover-height: 40px;
$s-phone-hover-total-width: 710px;
$s-phone-hover-total-height: 520px;
$s-phone-hover-image: '../img/sprite.png';
$s-phone-hover: (60px, 480px, -60px, -480px, 40px, 40px, 710px, 520px, '../img/sprite.png', 's-phone_hover', );
$s-slider-galery-left-name: 's-slider_galery_left';
$s-slider-galery-left-x: 120px;
$s-slider-galery-left-y: 480px;
$s-slider-galery-left-offset-x: -120px;
$s-slider-galery-left-offset-y: -480px;
$s-slider-galery-left-width: 34px;
$s-slider-galery-left-height: 34px;
$s-slider-galery-left-total-width: 710px;
$s-slider-galery-left-total-height: 520px;
$s-slider-galery-left-image: '../img/sprite.png';
$s-slider-galery-left: (120px, 480px, -120px, -480px, 34px, 34px, 710px, 520px, '../img/sprite.png', 's-slider_galery_left', );
$s-slider-galery-right-name: 's-slider_galery_right';
$s-slider-galery-right-x: 174px;
$s-slider-galery-right-y: 480px;
$s-slider-galery-right-offset-x: -174px;
$s-slider-galery-right-offset-y: -480px;
$s-slider-galery-right-width: 34px;
$s-slider-galery-right-height: 34px;
$s-slider-galery-right-total-width: 710px;
$s-slider-galery-right-total-height: 520px;
$s-slider-galery-right-image: '../img/sprite.png';
$s-slider-galery-right: (174px, 480px, -174px, -480px, 34px, 34px, 710px, 520px, '../img/sprite.png', 's-slider_galery_right', );
$s-video-play-name: 's-video_play';
$s-video-play-x: 194px;
$s-video-play-y: 286px;
$s-video-play-offset-x: -194px;
$s-video-play-offset-y: -286px;
$s-video-play-width: 140px;
$s-video-play-height: 140px;
$s-video-play-total-width: 710px;
$s-video-play-total-height: 520px;
$s-video-play-image: '../img/sprite.png';
$s-video-play: (194px, 286px, -194px, -286px, 140px, 140px, 710px, 520px, '../img/sprite.png', 's-video_play', );
$s-video-play-hover-name: 's-video_play_hover';
$s-video-play-hover-x: 0px;
$s-video-play-hover-y: 286px;
$s-video-play-hover-offset-x: 0px;
$s-video-play-hover-offset-y: -286px;
$s-video-play-hover-width: 174px;
$s-video-play-hover-height: 174px;
$s-video-play-hover-total-width: 710px;
$s-video-play-hover-total-height: 520px;
$s-video-play-hover-image: '../img/sprite.png';
$s-video-play-hover: (0px, 286px, 0px, -286px, 174px, 174px, 710px, 520px, '../img/sprite.png', 's-video_play_hover', );
$s-vk-name: 's-vk';
$s-vk-x: 476px;
$s-vk-y: 348px;
$s-vk-offset-x: -476px;
$s-vk-offset-y: -348px;
$s-vk-width: 26px;
$s-vk-height: 15px;
$s-vk-total-width: 710px;
$s-vk-total-height: 520px;
$s-vk-image: '../img/sprite.png';
$s-vk: (476px, 348px, -476px, -348px, 26px, 15px, 710px, 520px, '../img/sprite.png', 's-vk', );
$spritesheet-width: 710px;
$spritesheet-height: 520px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-bg-left, $s-bg-right, $s-facebook, $s-ico-play, $s-instagram, $s-line, $s-line-2, $s-phone, $s-phone-hover, $s-slider-galery-left, $s-slider-galery-right, $s-video-play, $s-video-play-hover, $s-vk, );
$spritesheet: (710px, 520px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
