/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-left-name: 's-bg_left';
$s-bg-left-x: 0px;
$s-bg-left-y: 0px;
$s-bg-left-offset-x: 0px;
$s-bg-left-offset-y: 0px;
$s-bg-left-width: 345px;
$s-bg-left-height: 266px;
$s-bg-left-total-width: 710px;
$s-bg-left-total-height: 652px;
$s-bg-left-image: '../img/sprite.png';
$s-bg-left: (0px, 0px, 0px, 0px, 345px, 266px, 710px, 652px, '../img/sprite.png', 's-bg_left', );
$s-bg-right-name: 's-bg_right';
$s-bg-right-x: 365px;
$s-bg-right-y: 0px;
$s-bg-right-offset-x: -365px;
$s-bg-right-offset-y: 0px;
$s-bg-right-width: 345px;
$s-bg-right-height: 266px;
$s-bg-right-total-width: 710px;
$s-bg-right-total-height: 652px;
$s-bg-right-image: '../img/sprite.png';
$s-bg-right: (365px, 0px, -365px, 0px, 345px, 266px, 710px, 652px, '../img/sprite.png', 's-bg_right', );
$s-cav-left-name: 's-cav_left';
$s-cav-left-x: 630px;
$s-cav-left-y: 317px;
$s-cav-left-offset-x: -630px;
$s-cav-left-offset-y: -317px;
$s-cav-left-width: 15px;
$s-cav-left-height: 11px;
$s-cav-left-total-width: 710px;
$s-cav-left-total-height: 652px;
$s-cav-left-image: '../img/sprite.png';
$s-cav-left: (630px, 317px, -630px, -317px, 15px, 11px, 710px, 652px, '../img/sprite.png', 's-cav_left', );
$s-cav-right-name: 's-cav_right';
$s-cav-right-x: 664px;
$s-cav-right-y: 286px;
$s-cav-right-offset-x: -664px;
$s-cav-right-offset-y: -286px;
$s-cav-right-width: 15px;
$s-cav-right-height: 11px;
$s-cav-right-total-width: 710px;
$s-cav-right-total-height: 652px;
$s-cav-right-image: '../img/sprite.png';
$s-cav-right: (664px, 286px, -664px, -286px, 15px, 11px, 710px, 652px, '../img/sprite.png', 's-cav_right', );
$s-facebook-name: 's-facebook';
$s-facebook-x: 678px;
$s-facebook-y: 480px;
$s-facebook-offset-x: -678px;
$s-facebook-offset-y: -480px;
$s-facebook-width: 11px;
$s-facebook-height: 22px;
$s-facebook-total-width: 710px;
$s-facebook-total-height: 652px;
$s-facebook-image: '../img/sprite.png';
$s-facebook: (678px, 480px, -678px, -480px, 11px, 22px, 710px, 652px, '../img/sprite.png', 's-facebook', );
$s-foot-email-name: 's-foot_email';
$s-foot-email-x: 522px;
$s-foot-email-y: 379px;
$s-foot-email-offset-x: -522px;
$s-foot-email-offset-y: -379px;
$s-foot-email-width: 20px;
$s-foot-email-height: 15px;
$s-foot-email-total-width: 710px;
$s-foot-email-total-height: 652px;
$s-foot-email-image: '../img/sprite.png';
$s-foot-email: (522px, 379px, -522px, -379px, 20px, 15px, 710px, 652px, '../img/sprite.png', 's-foot_email', );
$s-foot-fb-name: 's-foot_fb';
$s-foot-fb-x: 112px;
$s-foot-fb-y: 550px;
$s-foot-fb-offset-x: -112px;
$s-foot-fb-offset-y: -550px;
$s-foot-fb-width: 36px;
$s-foot-fb-height: 35px;
$s-foot-fb-total-width: 710px;
$s-foot-fb-total-height: 652px;
$s-foot-fb-image: '../img/sprite.png';
$s-foot-fb: (112px, 550px, -112px, -550px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_fb', );
$s-foot-fb-hover-name: 's-foot_fb_hover';
$s-foot-fb-hover-x: 56px;
$s-foot-fb-hover-y: 550px;
$s-foot-fb-hover-offset-x: -56px;
$s-foot-fb-hover-offset-y: -550px;
$s-foot-fb-hover-width: 36px;
$s-foot-fb-hover-height: 35px;
$s-foot-fb-hover-total-width: 710px;
$s-foot-fb-hover-total-height: 652px;
$s-foot-fb-hover-image: '../img/sprite.png';
$s-foot-fb-hover: (56px, 550px, -56px, -550px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_fb_hover', );
$s-foot-ig-name: 's-foot_ig';
$s-foot-ig-x: 622px;
$s-foot-ig-y: 480px;
$s-foot-ig-offset-x: -622px;
$s-foot-ig-offset-y: -480px;
$s-foot-ig-width: 36px;
$s-foot-ig-height: 35px;
$s-foot-ig-total-width: 710px;
$s-foot-ig-total-height: 652px;
$s-foot-ig-image: '../img/sprite.png';
$s-foot-ig: (622px, 480px, -622px, -480px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_ig', );
$s-foot-ig-hover-name: 's-foot_ig_hover';
$s-foot-ig-hover-x: 0px;
$s-foot-ig-hover-y: 550px;
$s-foot-ig-hover-offset-x: 0px;
$s-foot-ig-hover-offset-y: -550px;
$s-foot-ig-hover-width: 36px;
$s-foot-ig-hover-height: 35px;
$s-foot-ig-hover-total-width: 710px;
$s-foot-ig-hover-total-height: 652px;
$s-foot-ig-hover-image: '../img/sprite.png';
$s-foot-ig-hover: (0px, 550px, 0px, -550px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_ig_hover', );
$s-foot-phone-name: 's-foot_phone';
$s-foot-phone-x: 0px;
$s-foot-phone-y: 480px;
$s-foot-phone-offset-x: 0px;
$s-foot-phone-offset-y: -480px;
$s-foot-phone-width: 50px;
$s-foot-phone-height: 50px;
$s-foot-phone-total-width: 710px;
$s-foot-phone-total-height: 652px;
$s-foot-phone-image: '../img/sprite.png';
$s-foot-phone: (0px, 480px, 0px, -480px, 50px, 50px, 710px, 652px, '../img/sprite.png', 's-foot_phone', );
$s-foot-vk-name: 's-foot_vk';
$s-foot-vk-x: 168px;
$s-foot-vk-y: 550px;
$s-foot-vk-offset-x: -168px;
$s-foot-vk-offset-y: -550px;
$s-foot-vk-width: 36px;
$s-foot-vk-height: 35px;
$s-foot-vk-total-width: 710px;
$s-foot-vk-total-height: 652px;
$s-foot-vk-image: '../img/sprite.png';
$s-foot-vk: (168px, 550px, -168px, -550px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_vk', );
$s-foot-vk-hover-name: 's-foot_vk_hover';
$s-foot-vk-hover-x: 566px;
$s-foot-vk-hover-y: 480px;
$s-foot-vk-hover-offset-x: -566px;
$s-foot-vk-hover-offset-y: -480px;
$s-foot-vk-hover-width: 36px;
$s-foot-vk-hover-height: 35px;
$s-foot-vk-hover-total-width: 710px;
$s-foot-vk-hover-total-height: 652px;
$s-foot-vk-hover-image: '../img/sprite.png';
$s-foot-vk-hover: (566px, 480px, -566px, -480px, 36px, 35px, 710px, 652px, '../img/sprite.png', 's-foot_vk_hover', );
$s-ico-play-name: 's-ico_play';
$s-ico-play-x: 354px;
$s-ico-play-y: 348px;
$s-ico-play-offset-x: -354px;
$s-ico-play-offset-y: -348px;
$s-ico-play-width: 60px;
$s-ico-play-height: 60px;
$s-ico-play-total-width: 710px;
$s-ico-play-total-height: 652px;
$s-ico-play-image: '../img/sprite.png';
$s-ico-play: (354px, 348px, -354px, -348px, 60px, 60px, 710px, 652px, '../img/sprite.png', 's-ico_play', );
$s-instagram-name: 's-instagram';
$s-instagram-x: 434px;
$s-instagram-y: 379px;
$s-instagram-offset-x: -434px;
$s-instagram-offset-y: -379px;
$s-instagram-width: 22px;
$s-instagram-height: 22px;
$s-instagram-total-width: 710px;
$s-instagram-total-height: 652px;
$s-instagram-image: '../img/sprite.png';
$s-instagram: (434px, 379px, -434px, -379px, 22px, 22px, 710px, 652px, '../img/sprite.png', 's-instagram', );
$s-line-name: 's-line';
$s-line-x: 354px;
$s-line-y: 286px;
$s-line-offset-x: -354px;
$s-line-offset-y: -286px;
$s-line-width: 290px;
$s-line-height: 11px;
$s-line-total-width: 710px;
$s-line-total-height: 652px;
$s-line-image: '../img/sprite.png';
$s-line: (354px, 286px, -354px, -286px, 290px, 11px, 710px, 652px, '../img/sprite.png', 's-line', );
$s-line-2-name: 's-line_2';
$s-line-2-x: 434px;
$s-line-2-y: 348px;
$s-line-2-offset-x: -434px;
$s-line-2-offset-y: -348px;
$s-line-2-width: 150px;
$s-line-2-height: 11px;
$s-line-2-total-width: 710px;
$s-line-2-total-height: 652px;
$s-line-2-image: '../img/sprite.png';
$s-line-2: (434px, 348px, -434px, -348px, 150px, 11px, 710px, 652px, '../img/sprite.png', 's-line_2', );
$s-line-3-name: 's-line_3';
$s-line-3-x: 354px;
$s-line-3-y: 317px;
$s-line-3-offset-x: -354px;
$s-line-3-offset-y: -317px;
$s-line-3-width: 256px;
$s-line-3-height: 11px;
$s-line-3-total-width: 710px;
$s-line-3-total-height: 652px;
$s-line-3-image: '../img/sprite.png';
$s-line-3: (354px, 317px, -354px, -317px, 256px, 11px, 710px, 652px, '../img/sprite.png', 's-line_3', );
$s-main-menu-hover-name: 's-main_menu_hover';
$s-main-menu-hover-x: 0px;
$s-main-menu-hover-y: 605px;
$s-main-menu-hover-offset-x: 0px;
$s-main-menu-hover-offset-y: -605px;
$s-main-menu-hover-width: 16px;
$s-main-menu-hover-height: 47px;
$s-main-menu-hover-total-width: 710px;
$s-main-menu-hover-total-height: 652px;
$s-main-menu-hover-image: '../img/sprite.png';
$s-main-menu-hover: (0px, 605px, 0px, -605px, 16px, 47px, 710px, 652px, '../img/sprite.png', 's-main_menu_hover', );
$s-phone-name: 's-phone';
$s-phone-x: 386px;
$s-phone-y: 480px;
$s-phone-offset-x: -386px;
$s-phone-offset-y: -480px;
$s-phone-width: 40px;
$s-phone-height: 40px;
$s-phone-total-width: 710px;
$s-phone-total-height: 652px;
$s-phone-image: '../img/sprite.png';
$s-phone: (386px, 480px, -386px, -480px, 40px, 40px, 710px, 652px, '../img/sprite.png', 's-phone', );
$s-phone-hover-name: 's-phone_hover';
$s-phone-hover-x: 326px;
$s-phone-hover-y: 480px;
$s-phone-hover-offset-x: -326px;
$s-phone-hover-offset-y: -480px;
$s-phone-hover-width: 40px;
$s-phone-hover-height: 40px;
$s-phone-hover-total-width: 710px;
$s-phone-hover-total-height: 652px;
$s-phone-hover-image: '../img/sprite.png';
$s-phone-hover: (326px, 480px, -326px, -480px, 40px, 40px, 710px, 652px, '../img/sprite.png', 's-phone_hover', );
$s-phone-stick-name: 's-phone_stick';
$s-phone-stick-x: 446px;
$s-phone-stick-y: 480px;
$s-phone-stick-offset-x: -446px;
$s-phone-stick-offset-y: -480px;
$s-phone-stick-width: 40px;
$s-phone-stick-height: 40px;
$s-phone-stick-total-width: 710px;
$s-phone-stick-total-height: 652px;
$s-phone-stick-image: '../img/sprite.png';
$s-phone-stick: (446px, 480px, -446px, -480px, 40px, 40px, 710px, 652px, '../img/sprite.png', 's-phone_stick', );
$s-phone-stick-hover-name: 's-phone_stick_hover';
$s-phone-stick-hover-x: 506px;
$s-phone-stick-hover-y: 480px;
$s-phone-stick-hover-offset-x: -506px;
$s-phone-stick-hover-offset-y: -480px;
$s-phone-stick-hover-width: 40px;
$s-phone-stick-hover-height: 40px;
$s-phone-stick-hover-total-width: 710px;
$s-phone-stick-hover-total-height: 652px;
$s-phone-stick-hover-image: '../img/sprite.png';
$s-phone-stick-hover: (506px, 480px, -506px, -480px, 40px, 40px, 710px, 652px, '../img/sprite.png', 's-phone_stick_hover', );
$s-review-left-name: 's-review_left';
$s-review-left-x: 224px;
$s-review-left-y: 550px;
$s-review-left-offset-x: -224px;
$s-review-left-offset-y: -550px;
$s-review-left-width: 34px;
$s-review-left-height: 34px;
$s-review-left-total-width: 710px;
$s-review-left-total-height: 652px;
$s-review-left-image: '../img/sprite.png';
$s-review-left: (224px, 550px, -224px, -550px, 34px, 34px, 710px, 652px, '../img/sprite.png', 's-review_left', );
$s-review-left-hover-name: 's-review_left_hover';
$s-review-left-hover-x: 262px;
$s-review-left-hover-y: 480px;
$s-review-left-hover-offset-x: -262px;
$s-review-left-hover-offset-y: -480px;
$s-review-left-hover-width: 44px;
$s-review-left-hover-height: 44px;
$s-review-left-hover-total-width: 710px;
$s-review-left-hover-total-height: 652px;
$s-review-left-hover-image: '../img/sprite.png';
$s-review-left-hover: (262px, 480px, -262px, -480px, 44px, 44px, 710px, 652px, '../img/sprite.png', 's-review_left_hover', );
$s-review-right-name: 's-review_right';
$s-review-right-x: 278px;
$s-review-right-y: 550px;
$s-review-right-offset-x: -278px;
$s-review-right-offset-y: -550px;
$s-review-right-width: 34px;
$s-review-right-height: 34px;
$s-review-right-total-width: 710px;
$s-review-right-total-height: 652px;
$s-review-right-image: '../img/sprite.png';
$s-review-right: (278px, 550px, -278px, -550px, 34px, 34px, 710px, 652px, '../img/sprite.png', 's-review_right', );
$s-review-right-hover-name: 's-review_right_hover';
$s-review-right-hover-x: 198px;
$s-review-right-hover-y: 480px;
$s-review-right-hover-offset-x: -198px;
$s-review-right-hover-offset-y: -480px;
$s-review-right-hover-width: 44px;
$s-review-right-hover-height: 44px;
$s-review-right-hover-total-width: 710px;
$s-review-right-hover-total-height: 652px;
$s-review-right-hover-image: '../img/sprite.png';
$s-review-right-hover: (198px, 480px, -198px, -480px, 44px, 44px, 710px, 652px, '../img/sprite.png', 's-review_right_hover', );
$s-slider-galery-left-name: 's-slider_galery_left';
$s-slider-galery-left-x: 332px;
$s-slider-galery-left-y: 550px;
$s-slider-galery-left-offset-x: -332px;
$s-slider-galery-left-offset-y: -550px;
$s-slider-galery-left-width: 34px;
$s-slider-galery-left-height: 34px;
$s-slider-galery-left-total-width: 710px;
$s-slider-galery-left-total-height: 652px;
$s-slider-galery-left-image: '../img/sprite.png';
$s-slider-galery-left: (332px, 550px, -332px, -550px, 34px, 34px, 710px, 652px, '../img/sprite.png', 's-slider_galery_left', );
$s-slider-galery-left-hover-name: 's-slider_galery_left_hover';
$s-slider-galery-left-hover-x: 134px;
$s-slider-galery-left-hover-y: 480px;
$s-slider-galery-left-hover-offset-x: -134px;
$s-slider-galery-left-hover-offset-y: -480px;
$s-slider-galery-left-hover-width: 44px;
$s-slider-galery-left-hover-height: 44px;
$s-slider-galery-left-hover-total-width: 710px;
$s-slider-galery-left-hover-total-height: 652px;
$s-slider-galery-left-hover-image: '../img/sprite.png';
$s-slider-galery-left-hover: (134px, 480px, -134px, -480px, 44px, 44px, 710px, 652px, '../img/sprite.png', 's-slider_galery_left_hover', );
$s-slider-galery-right-name: 's-slider_galery_right';
$s-slider-galery-right-x: 386px;
$s-slider-galery-right-y: 550px;
$s-slider-galery-right-offset-x: -386px;
$s-slider-galery-right-offset-y: -550px;
$s-slider-galery-right-width: 34px;
$s-slider-galery-right-height: 34px;
$s-slider-galery-right-total-width: 710px;
$s-slider-galery-right-total-height: 652px;
$s-slider-galery-right-image: '../img/sprite.png';
$s-slider-galery-right: (386px, 550px, -386px, -550px, 34px, 34px, 710px, 652px, '../img/sprite.png', 's-slider_galery_right', );
$s-slider-galery-right-hover-name: 's-slider_galery_right_hover';
$s-slider-galery-right-hover-x: 70px;
$s-slider-galery-right-hover-y: 480px;
$s-slider-galery-right-hover-offset-x: -70px;
$s-slider-galery-right-hover-offset-y: -480px;
$s-slider-galery-right-hover-width: 44px;
$s-slider-galery-right-hover-height: 44px;
$s-slider-galery-right-hover-total-width: 710px;
$s-slider-galery-right-hover-total-height: 652px;
$s-slider-galery-right-hover-image: '../img/sprite.png';
$s-slider-galery-right-hover: (70px, 480px, -70px, -480px, 44px, 44px, 710px, 652px, '../img/sprite.png', 's-slider_galery_right_hover', );
$s-video-play-name: 's-video_play';
$s-video-play-x: 194px;
$s-video-play-y: 286px;
$s-video-play-offset-x: -194px;
$s-video-play-offset-y: -286px;
$s-video-play-width: 140px;
$s-video-play-height: 140px;
$s-video-play-total-width: 710px;
$s-video-play-total-height: 652px;
$s-video-play-image: '../img/sprite.png';
$s-video-play: (194px, 286px, -194px, -286px, 140px, 140px, 710px, 652px, '../img/sprite.png', 's-video_play', );
$s-video-play-hover-name: 's-video_play_hover';
$s-video-play-hover-x: 0px;
$s-video-play-hover-y: 286px;
$s-video-play-hover-offset-x: 0px;
$s-video-play-hover-offset-y: -286px;
$s-video-play-hover-width: 174px;
$s-video-play-hover-height: 174px;
$s-video-play-hover-total-width: 710px;
$s-video-play-hover-total-height: 652px;
$s-video-play-hover-image: '../img/sprite.png';
$s-video-play-hover: (0px, 286px, 0px, -286px, 174px, 174px, 710px, 652px, '../img/sprite.png', 's-video_play_hover', );
$s-vk-name: 's-vk';
$s-vk-x: 476px;
$s-vk-y: 379px;
$s-vk-offset-x: -476px;
$s-vk-offset-y: -379px;
$s-vk-width: 26px;
$s-vk-height: 15px;
$s-vk-total-width: 710px;
$s-vk-total-height: 652px;
$s-vk-image: '../img/sprite.png';
$s-vk: (476px, 379px, -476px, -379px, 26px, 15px, 710px, 652px, '../img/sprite.png', 's-vk', );
$spritesheet-width: 710px;
$spritesheet-height: 652px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-bg-left, $s-bg-right, $s-cav-left, $s-cav-right, $s-facebook, $s-foot-email, $s-foot-fb, $s-foot-fb-hover, $s-foot-ig, $s-foot-ig-hover, $s-foot-phone, $s-foot-vk, $s-foot-vk-hover, $s-ico-play, $s-instagram, $s-line, $s-line-2, $s-line-3, $s-main-menu-hover, $s-phone, $s-phone-hover, $s-phone-stick, $s-phone-stick-hover, $s-review-left, $s-review-left-hover, $s-review-right, $s-review-right-hover, $s-slider-galery-left, $s-slider-galery-left-hover, $s-slider-galery-right, $s-slider-galery-right-hover, $s-video-play, $s-video-play-hover, $s-vk, );
$spritesheet: (710px, 652px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
