@import "../mixin/_mixing.scss";
@import "_variables.scss";

.service {
	margin: 64px 0;
	padding: 64px 0 0 0;
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
	}
	h1 {
		font-family: RobotoSlab;
		font-size: 35px;
		font-weight: 300;
		line-height: 33px;
		letter-spacing: 3px;
		margin: 47px 0 -8px 0;
		text-transform: uppercase;
		&::after {
			@include sprite($s-line);
			display: block;
			content: "";
			margin: 13px auto 0;
		}
	}
	.zag {
		font-family: robotocondensedregular;
		font-size: 18px;
		font-weight: 400;
		line-height: 52px;
		letter-spacing: 2px;
		margin: 0 0 45px 0;
	}
}
.item_service {
	float: left;
	text-align: center;
	vertical-align: top;
	width: 20%;
	img {
		margin: 0 auto 60px;
	}
	.item_service_zag {
		color: black;
		font-family: robotocondensedregular;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 44px;
		text-transform: uppercase;
	}
	.item_service_desc {
		color: #5772a6;
		font-family: robotocondensedregular;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		margin: 0 auto;
		width: 135px;
	}
}
.about_me {
	background: url("../img/bg_section_3.jpg") no-repeat bottom center;
	padding: 65px 0 0 0;
	h2 {
		font-family: robotoboldcondensed;
		font-size: 68px;
		font-weight: 300;
		line-height: 33px;
		margin: 87px 0 51px 37px;
		text-transform: uppercase;
	}
	.wisiwig_text {
		margin: 0 0 0 37px;
	}
	img {
		display: block;
    	margin: 0 0 0 11px;
	}
}
.said {
	background-color: #8da4d0;
	border-radius: 6px;
	position: absolute;
	top: 429px;
	left: 45px;
	padding: 20px 45px;
	text-align: center;
	width: 420px;
	&::before {
		content: "";
		border-color: transparent transparent #8da4d0 #8da4d0;
		border-style: solid;
		border-width: 17px 13px;
		top: -34px;
		height: 0;
		right: 48px;
		position: absolute;
		width: 26px;
	}
}
.music {
	background: url("../img/bg_section_4.jpg") no-repeat top center;
	height: 864px;
	h2 {
		color: #fff;
		color: #fff;
		font-family: robotocondensedregular;
		font-size: 51px;
		font-weight: 700;
		line-height: 52px;
		margin: 231px auto 31px;
		text-transform: uppercase;
		text-align: center;
		width: 350px;
		&::after {
			@include sprite($s-line);
			display: block;
			content: "";
			margin: 35px auto 0;
		}
	}
	.wisiwig_text {
		margin: 0 auto 45px;
		width: 690px;
		p {
			color: #fff;
			line-height: 19px;
    		margin: 0 0 23px;
			text-align: center;
		}
	}
	.play {
		margin: 0 auto;
		width: 210px;
	}
}
.video {
	.col-md-3 {
		padding: 0;
	}
	.video_link {
		overflow: hidden;
		position: relative;
		img {
			display: block;
			max-width: 100%;
			-moz-transition: all 1s ease-out;
			-o-transition: all 1s ease-out;
			-webkit-transition: all 1s ease-out;
			transition: all 1s ease-out;
		}
		.play_large {
			background: rgba(0, 0, 0, 0.7);
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			img {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
			}
			.play_large {
				background: rgba(0, 0, 0, 0.1);
				-moz-transition: all 1s ease-out;
				-o-transition: all 1s ease-out;
				-webkit-transition: all 1s ease-out;
				transition: all 1s ease-out;
			}
		}
	}
	.play_large_wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	h3{
		color: white;
		font-family: robotocondensedregular;
		font-size: 16px;
		font-weight: 700;
		line-height: 52px;
		text-transform: uppercase;
		text-align: center;
	} 
	p {
		width: 217px;
		color: white;
		font-family: robotocondensedregular;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		margin: 0 auto;
	}
	
}
.galery {
	h2 {
		color: black;
		font-family: robotocondensedregular;
		font-size: 51px;
		font-weight: 700;
		line-height: 52px;
		margin: 102px 0 135px;
		text-transform: uppercase;
		text-align: center;
		&::after {
			@include sprite($s-line);
			display: block;
			content: "";
			margin: 20px auto 0;
		}
	}
	.wrap_photo {
		position: relative;
		.owl-carousel {
			z-index: inherit;
		}
		.owl-dots {
			margin: 117px 0 69px;
		}		
	}
	.bg_left {
		@include sprite($s-bg_left);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	.bg_right {
		@include sprite($s-bg_right);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}
.reviews {
	background: url("../img/bg_section_7.jpg") no-repeat top center;
	padding: 97px 0 91px;
	h2 {
		color: #fff;
		color: white;
		font-family: robotocondensedregular;
		font-size: 36px;
		font-weight: 700;
		line-height: 52px;
		margin-bottom: 47px;
		text-transform: uppercase;
		text-align: center;
		&::after {
			@include sprite($s-line_2);
			display: block;
			content: "";
			margin: 20px auto 0;
		}
	}
}
.wrap_reviews {
	margin: 0 auto;
	width: 690px;
	.owl-carousel {
		.owl-stage-outer {
			overflow: inherit;
		}
		.owl-nav {
			.owl-prev {
				@include sprite($s-review_left);
				text-indent: -9999px;
				position: absolute;
				top: 152px;
				left: -82px;
				z-index: 2;
				&:hover {
					@include sprite($s-review_left_hover);
					top: 147px;
					left: -87px;
				}
			}
			.owl-next {
				@include sprite($s-review_right);
				text-indent: -9999px;
				position: absolute;
				top: 152px;
				right: -82px;
				z-index: 2;
				&:hover {
					@include sprite($s-review_right_hover);
					top: 147px;
					right: -87px;
				}
			}
		}
		.owl-dots {
			margin: 91px 0 0;
		}
		.owl-dot {
			span {
				background: #fff;
			}
			&.active, &:hover {
				span {
					background: #fff;
				}
			}
		}
	}
	.owl-item {
		.slide {
			background: #fff;
			height: 328px;
			.slide_left {
				float: left;
				width: 50%;
				height: 328px;
				position: relative;
				.review_img {
					height: 190px;
					width: 190px;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					img {
						border-radius: 95px;
					}
				}
			}
			.slide_right {
				float: right;
				width: 50%;
				height: 328px;
				position: relative;
				.slide_text_wrap {
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 250px;
				}
				.slide_zag {
					color: black;
					font-family: robotocondensedregular;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					margin-bottom: 45px;
					text-transform: uppercase;
				}
				.slide_text {
					color: #5772a6;
					font-family: robotocondensedregular;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					position: relative;
					&::before {
						@include sprite($s-cav_left);
						content: " ";
						display: block;
						left: -19px;
						position: absolute;
						top: -11px;
					}
					&::after {
						@include sprite($s-cav_right);
						content: " ";
						display: block;
						right: 55px;
						position: absolute;
						bottom: -11px;
					}
				}
			}
		}
	}
}
.floristics {
	padding-bottom: 110px;
	h2 {
		color: black;
		font-family: robotocondensedregular;
		font-size: 51px;
		font-weight: 700;
		line-height: 52px;
		margin: 95px 0 65px;
		text-transform: uppercase;
		text-align: center;
		&::after {
			@include sprite($s-line);
			display: block;
			content: "";
			margin: 20px auto 0;
		}
	}
}
.item_floristics {
	margin: 0 auto;
	width: 240px;
	img {
		display: block;
		margin: 0 auto 49px;
	}
	.item_floristics_zag {
		color: black;
		font-family: robotocondensedregular;
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
		margin: 0 0 22px 0;
		text-transform: uppercase;
		text-align: center;
	}
	.item_floristics_desc {
		color: #5772a6;
		font-family: robotocondensedregular;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		margin: 0 0 37px 0;
		text-align: center;
	}
	.more {
		margin: 0 auto;
	}
}
.publication {
	padding-bottom: 110px;
	h2 {
		color: black;
		font-family: robotocondensedregular;
		font-size: 51px;
		font-weight: 700;
		line-height: 52px;
		margin: 98px 0 65px;
		text-transform: uppercase;
		text-align: center;
		&::after {
			@include sprite($s-line);
			display: block;
			content: "";
			margin: 35px auto 0;
		}
	}
	.owl-nav {
		.owl-prev {
			top: 230px;
			left: -45px;
			&:hover {
				top: 225px;
				left: -50px;
			}
		}
		.owl-next {
			top: 230px;
			right: -45px;
			&:hover {
				top: 225px;
				right: -50px;
			}
		}
	}
}
.wrap_article {
	margin: 0 0 52px 0;
	.article_top {
		@include clearfix;
		margin: 0 0 26px 0;
		.article_zag {
			height: 109px;
			vertical-align: middle;
			display: table-cell;
		}
		a {
			color: black;
			font-family: RobotoSlab;
			font-size: 16px;
			font-weight: 400;
			line-height: 21px;
			text-decoration: underline;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.article_img {
		float: left;
		height: 109px;
		margin: 0 28px 0 0;
		width: 109px;
		img {
			border-radius: 95px;
		}
	}
	.article_bottom {
		p {
			color: #5772a6;
			font-family: robotocondensedregular;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
			margin: 0 0 28px;
		}
	}
}