@import "../mixin/_mixing.scss";
@import "_variables.scss";

body {
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	
}
h1, h2 {
	
}
p {
	color: #000;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	line-height: 17px;
	margin: 0 0 35px 0;
}
.play {
	color: #9abdff;
	display: block;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 18px;
	margin: 0 0 0 0;
	text-align: center;
	text-decoration: underline;
	i {
		@include sprite($s-ico_play);
		display: block;
		margin: 0 auto 13px;
	}
	&:hover {
		color: #fff;
	}
}
.play_large {
	i {
		@include sprite($s-video_play);
		margin: 0 auto;
		display: block;
	}
}
.more {
	background: #8da4d0;
	border-radius: 3px;
	display: block;
	color: white;
	font-family: robotocondensedregular;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	padding: 5px 0;
	text-align: center;
	width: 117px;
	&:hover {
		text-decoration: none;
	}
}
.bx-wrapper {
	background: none;
	border: none;
	box-shadow: none;
}
.owl-nav {
	.owl-prev {
		@include sprite($s-slider_galery_left);
		text-indent: -9999px;
		position: absolute;
		top: 61px;
		left: 32px;
		z-index: 2;
		&:hover {
			@include sprite($s-slider_galery_left_hover);
			top: 56px;
			left: 27px;
		}
	}
	.owl-next {
		@include sprite($s-slider_galery_right);
		text-indent: -9999px;
		position: absolute;
		top: 61px;
		right: 32px;
		z-index: 2;
		&:hover {
			@include sprite($s-slider_galery_right_hover);
			top: 56px;
			right: 27px;
		}
	}
}
.owl-dots {
	text-align: center;
}
.owl-dot {
	display: inline-block;
	vertical-align: middle;
	span {
		background: #ccc;
		border-radius: 2px;
		display: block;
		height: 4px;
		padding: 2px;
		margin: 0 7px;
		width: 4px;
	}
	&.active, &:hover {
		span {
			background: #8da4d0;
			border-radius: 4px;
			margin: 0 5px;
			padding: 4px;
		}
	}
}