@import "../mixin/_mixing.scss";
@import "_variables.scss";

h1, h2, h3, h4, h5, h6 {
	
}
h1, h2 {
	
}
p {
	color: #000;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	line-height: 17px;
	margin: 0 0 35px 0;
}
.play {
	color: #9abdff;
	display: block;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 18px;
	margin: 0 0 0 0;
	text-align: center;
	text-decoration: underline;
	i {
		@include sprite($s-ico_play);
		display: block;
		margin: 0 auto 13px;
	}
	&:hover {
		color: #fff;
	}
}
.more {
	background: #8da4d0;
	border-radius: 3px;
	display: block;
	color: white;
	font-family: robotocondensedregular;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	padding: 5px 0;
	text-align: center;
	width: 117px;
	&:hover {
		text-decoration: none;
	}
}