@import "../mixin/_mixing.scss";
@import "_variables.scss";

body {
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	
}
h1, h2 {
	
}
p {
	color: #000;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	line-height: 17px;
	margin: 0 0 35px 0;
}
.play {
	color: #9abdff;
	display: block;
	font-family: robotocondensedregular;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 18px;
	margin: 0 0 0 0;
	text-align: center;
	text-decoration: underline;
	i {
		@include sprite($s-ico_play);
		display: block;
		margin: 0 auto 13px;
	}
	&:hover {
		color: #fff;
	}
}
.play_large {
	i {
		@include sprite($s-video_play);
		margin: 0 auto;
		display: block;
	}
}
.more {
	background: #8da4d0;
	border-radius: 3px;
	display: block;
	color: white;
	font-family: robotocondensedregular;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	padding: 5px 0;
	text-align: center;
	width: 117px;
	&:hover {
		text-decoration: none;
	}
}
.bx-wrapper {
	background: none;
	border: none;
	box-shadow: none;
}
.owl-nav {
	.owl-prev {
		@include sprite($s-slider_galery_left);
		text-indent: -9999px;
		position: absolute;
		top: 61px;
		left: 32px;
		z-index: 2;
		&:hover {
			@include sprite($s-slider_galery_left_hover);
			top: 56px;
			left: 27px;
		}
	}
	.owl-next {
		@include sprite($s-slider_galery_right);
		text-indent: -9999px;
		position: absolute;
		top: 61px;
		right: 32px;
		z-index: 2;
		&:hover {
			@include sprite($s-slider_galery_right_hover);
			top: 56px;
			right: 27px;
		}
	}
}
.owl-dots {
	text-align: center;
}
.owl-dot {
	display: inline-block;
	vertical-align: middle;
	span {
		background: #ccc;
		border-radius: 2px;
		display: block;
		height: 4px;
		padding: 2px;
		margin: 0 7px;
		width: 4px;
	}
	&.active, &:hover {
		span {
			background: #8da4d0;
			border-radius: 4px;
			margin: 0 5px;
			padding: 4px;
		}
	}
}
.fancybox-skin {
	background-color: rgba(3, 2, 9, 0.7);
	border-radius: 0;
	box-shadow: none;
}
.fancybox-opened .fancybox-skin {
	box-shadow: none;
}
.modal {
	display: none;
	h2 {
		color: white;
		font-family: robotocondensedregular;
		font-size: 22px;
		font-weight: 700;
		line-height: 27px;
		margin-top: 0;
		text-transform: uppercase;
		text-align: center;
		&::after {
			@include sprite($s-line_3);
			content: " ";
			display: block;
			margin: 26px 0 28px;
		}
	}
	.form-row {
		margin: 0 0 20px;
		&:last-child {
			margin: 0;
		}
	}
	label {
		display: block;
		color: white;
		font-family: robotocondensedregular;
		font-size: 18px;
		font-weight: 400;
		margin: 0 0 7px;
	}
	input[type=text] {
		border: 2px solid #fff;
		background-color: white;
		border-radius: 2px;
		width: 100%;
		color: #1a375c;
		font-family: robotocondensedregular;
		font-size: 18px;
		font-weight: 400;
		padding: 10px 16px;
		&.error {
			border: 2px solid #de8a90;
		}
	}
	.btn {
		background-color: #de8a90;
		border-radius: 2px;
		border: none;
		color: white;
		font-family: robotocondensedregular;
		font-size: 24px;
		font-weight: 400;
		line-height: 18px;
		margin: 26px 0 0;
		padding: 20px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		&:hover {
			background: #d7676f;
		}
	}
}